.popup__input {
    font: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 14px;
    padding-top: 30px;
    margin: 0;
}
