.popup__container {
    width: 470px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-self: center;
}

@media (max-width: 470px) {
    .popup__container {
        width: 282px;
    }
}
