.profile__job {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

@media (max-width: 420px) {
    .profile__job {
        font-size: 14px;
        text-align: center;
        max-width: 250px;
    }
}
