.popup__button {
    margin: 50px auto 50px;
    padding: 0;
    width: 100%;
    height: 50px;
    border: none;
    font: inherit;
    color: #ffffff;
    background-color: #000000;
    align-self: center;
    font-size: 18px;
    cursor: pointer;
}

.popup__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 470px) {
    .popup__button {
        margin: 40px auto 25px;
    }
}
