.elements__remove-button {
    border: none;
    width: 18px;
    height: 20px;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    background-image: url("../../../images/trash.svg");
    background-repeat: no-repeat;
    background-size: 18px 20px;
    background-position: center;
    top: 18px;
    right: 15px;
}
