.header {
    width: 882px;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
    padding: 45px 0 40px;
}

@media (max-width: 882px) {
    .header {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .header {
        width: 320px;
        padding: 28px 0 30px;
    }
}
