.profile__text {
    display: flex;
    margin: 0;
    padding: 0 0 0 30px;
    flex-direction: column;
    align-self: center;
}

@media (max-width: 550px) {
    .profile__text {
        padding: 20px 0 0 0;
    }
}
