.elements {
    width: 882px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 882px) {
    .elements {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .elements {
        width: 282px;
    }
}
