.elements__button {
    width: 20px;
    height: 18px;
    align-self: center;
    margin: -7px 18px 0 0;
    padding: 0;
    flex-shrink: 0;
    background-image: url("../../../images/heart.svg");
    background-repeat: no-repeat;
    background-size: 20px 18px;
    background-position: center;
    border: none;
}
