.popup__close{
    width: 40px;
    height: 40px;
    align-self: flex-end;
    margin-bottom: -10px;
    margin-right: -10px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    padding: 0;
    border: none;
    background-image: url("../../../images/closeBtn.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

@media (max-width: 470px) {
    .popup__close {
        margin: 0;
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
    }
}
