.popup__form {
    width: 358px;
    display: flex;
    margin: 0 auto 36px;
    padding: 0;
    flex-direction: column;
}

@media (max-width: 500px) {
    .popup__form {
        width: 238px;
    }
}
