.popup__button_disabled {
    color: #000;
    background: #fff;
    border: 1px solid #000000;
    opacity: 0.3;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
