.elements__list {
    display: flex;
    margin: 50px 0 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1280px) {
    .elements__list {
        justify-content: space-around;
    }
}

@media (max-width: 805px) {
    .elements__list {
        justify-content: center;
    }
}
