.profile__add-photo {
    border: 2px solid #ffffff;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
    align-self: center;
    background-image: url("../../../images/plus.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
}

@media (max-width: 720px) {
    .profile__add-photo {
        width: 100%;
        margin: 36px 0;
    }
}

@media (max-width: 320px) {
    .profile__add-photo {
        width: 282px;
        background-size: 16px 16px;
    }
}
