.popup__hide {
    visibility: hidden;
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes fadeOut {
    from {opacity: 1; visibility: visible;}
    to {opacity:0; visibility: hidden;}
}
